# gh
config/gh/state.yml
config/gh/hosts.yml

# Neovim
config/nvim/shada

# fish
config/fish/fish_history
config/fish/generated_completions
config/z/data

# asdf manager
config/asdf/tmp/*

# gatsby
config/gatsby/*
config/configstore/*

# Other
*.tar.gz
.DS_Store
/.idea
alacritty.yml
/config/fish/functions/fzf_key_bindings.fish
/config/alacritty/alacritty.yml
/config/valet
